@{ ViewData["Title"] = "Access Service Directly"; }
@using WebLab1.Services
@inject Service calc

<div>
    <h1>AccessServiceDirectly</h1>
    <h3>Rand Value First : @calc.First</h3>
    <h3>Rand Value Second : @calc.Second</h3>
    <h3>Add :</h3>
    <p>@calc.Sum()</p>
    <h3>Sub :</h3>
    <p>@calc.Sub()</p>
    <h3>Mult :</h3>
    <p>@calc.Mult()</p>
    <h3>Div :</h3>
    <p>@calc.Div()</p>
</div>