@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <title>Hello ASP.NET MVC Core</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <link type="text/css" href="~/Style/Style.css" rel="stylesheet">
</head>
<body>
    <header>
        <b>Backend1</b> 
        <a href="~/Home/Index">Home</a>
    </header>
    <main>
        <h1>PassUsingViewData</h1>
        <h3>Rand Value First : @ViewData["First"]</h3>
        <h3>Rand Value Second : @ViewData["Second"]</h3>
        <h3>Add :</h3>
        <p>@ViewData["Sum"]</p>
        <h3>Sub :</h3>
        <p>@ViewData["Sub"]</p>
        <h3>Mult :</h3>
        <p>@ViewData["Mult"]</p>
        <h3>Div :</h3>
        <p>@ViewData["Div"]</p>
    </main>
    <hr>
    <footer>© @DateTime.Now.Year - Backend1</footer>
</body>
</html>